[submodule "opendigitaltwins-smartcities"]
	path = opendigitaltwins-smartcities
	url = https://github.com/Azure/opendigitaltwins-smartcities.git
[submodule "opendigitaltwins-energygrid"]
	path = opendigitaltwins-energygrid
	url = https://github.com/henrikcorrea/opendigitaltwins-energygrid.git
[submodule "dataModel.EnergyCIM"]
	path = dataModel.EnergyCIM
	url = https://github.com/smart-data-models/dataModel.EnergyCIM.git
[submodule "agentwin-msc"]
	path = agentwin-msc
	url = https://github.com/henrikcorrea/agentwin-msc
	branch = main
