[submodule "opendigitaltwins-smartcities"]
	path = opendigitaltwins-smartcities
	url = https://github.com/Azure/opendigitaltwins-smartcities.git
[submodule "opendigitaltwins-energygrid"]
	path = opendigitaltwins-energygrid
	url = https://github.com/Azure/opendigitaltwins-energygrid.git
[submodule "pep"]
	path = pep
	url = https://github.com/henrikcorrea/pep.git
